/* Write your CSS here */
body {
  margin: 0;
  font-family: 'Roboto';
}
.container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.heading {
  color: #2d3a35;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}
.counter {
  color: #c20a72;
}
.description {
  color: #2d3a35;
  font-size: 22px;
  text-align: center;
}
.clickButton {
  border-radius: 5px;
  border-width: 0px;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}
